{{ form_start(form, {'attr': {'class': 'card p-3 w-75 mx-auto'}}) }}

<div class="row">
    <div class="col-md-6">
    {{form_row(form.FirstName)}}
    </div>
    <div class="col-md-6">
    {{form_row(form.LastName)}}
    </div>
</div>

{{form_row(form.email)}}

{{form_row(form.roles)}}


<button type="submit" class="btn btn-primary">Modifier</button>
{{form_end(form) }}
