{% extends 'base.html.twig' %}

{% block title %}
Administration des terrains
{{ parent() }}
{% endblock %}

{% block body %}
<section class="container mt-2">
<h1 class="text-center">Administration des terrains</h1>
<button class="btn btn-primary mt-4"><a href="{{path('admin.terrains.create')}}">Creer un nouveau terrain</a></button>
<div class="card-list mt-4">
{% for terrain in terrains %}
    <div class="blog-card {{terrain.enable ? 'enable' : 'not-enable'}}">
    <div class="blog-card-content">
    <h2 class="blog-card-header">{{terrain.nom}}</h2>
    <p><strong>description:</strong>{{terrain.description}}</p>
    <p><strong>type de terrain:</strong>{{terrain.typeTerrain}}</p>
    <p><strong>taille:</strong>{{terrain.taille}}</p>
    <div class="blog-card-btn">
    <a href="{{ path('admin.terrains.edit', {id: terrain.id}) }}" class="btn btn-warning">
     <i class="bi bi-pencil-square"></i>
    Modifier</a>
    {% include "Backend/Terrains/_deleteform.html.twig" %}
    </div>
    </div>
    </div>
{% endfor %}
</div>
</section>
{% endblock %}
